.titulo {
    display: flex;
    padding-left: 30%;
    padding-right: 30%;
}

.grid img {
    width: 100%;
    height: auto;
}

h1 {
    margin-left: 40px;
}

body {
    margin: 5%;
}

.user {
    display: flex;
    float: left;
    width: 20%;
}

.user p {
    margin-left: 20px;
}

nav {
    float: right;
    background-color: #7CFFC4;
    width: 60%;
    margin-top: 5px; /*Esto permite centrar el menú en el div padre verticalmente*/
}

ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    float: left;
    width: 20%;
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
}

nav li:hover {
    background-color: #6ABEA7;
}

.menu {
    height: 60px;
    padding-top: 10px;
    margin-bottom: 40px;
}

.fa {
    margin: .25em
}

.social {
    margin: auto;
}

.footer {
    border: solid;
    border-color: red;
    margin: auto;
    width: 100%;
    text-align: center;
    bottom:0;
}

.fa-youtube-play {
    color: #cc181e;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline;
}

.footer-list li:after {
    content: " | ";
    padding: 0 .5em;
}

.footer-list li:last-child:after {
    content: "";
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin-bottom:  5%;
    position: relative;
}

.grid-cell {
    flex: 0 0 32%;
    height: 300px;
    margin-bottom: 1%;
    background-color: #999;
    text-align: center;
    width: 30%;
}

.content {
    border-color: #000;
    background-color: transparent;
    width: 88.5%;
    border: solid;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    height: 18%;
}

.pic-title{
    float: left;
}

.social-list{
    float: right;
    margin: 4%
}

.social-link{
    display: inline;
    margin: 1%;
}

.image-cell{
    flex: auto;
    margin-top: 6%;
    margin-bottom: 3%;
    max-width: 100%;
    height: auto;
}