.cabecera {
  display: flex;
  height: 150px;
  line-height: 150px;
  margin-bottom: 30px;
}

h1 {
  height: 150px;
  line-height: 150px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
  font-size: 3em;
}

.section1 {
  margin-left: 15px;
  margin-left: 40px;
}

nav a {
  padding-right: 10px;
}
