aside {
    float: left;
    display: inline;
    width: 200px;
}

h1 {
    height: 150px;
    line-height: 150px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 3em;
}

.flex {
    display: flex;
}

#popular {
    width: 100%;
}

.titulo {
    display: flex;
    height: 150px;
    line-height: 150px;
    margin-bottom: 30px;
    margin-top: 5%;
}

.subsbox {
    display: inline-block;
    margin: 2% 0 5%;
}

label {
    float: left;
    padding-right: 50px;
}

.subform {
    float: right;
}

@media only screen and (max-width: 1100px) {
    label {
        float: none;
        margin-bottom: 20px;
    }

    .subform {
        float: none;
        margin-top: 10px;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .flex {
        display: block;
    }

    aside {
        width: 100%;
        margin-bottom: 20px;
    }

    nav ul li {
        float: left;
        width: 20% !important;
    }

    .columna {
        width: 100% !important;
        margin-bottom: 5%;
    }

    .columna p {
        font-size: 1.3em;
    }

    .container {
        width: 100%;
    }

    h2 {
        font-size: 2.3em;
        margin-top: 10px;
        margin-bottom: 0;
    }
}

#logo {
    height: 150px;
    width: 150px;
}

body {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', serif;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #eeeeee;
}

section {
    margin-left: 5%;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: inline-block;
    text-align: left;
    width: 100%;
}

.container img {
    width: 100%;
    height: auto;
}

.columna {
    width: 30%;
    float: left;
}

.columna a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: #7CFFC4;
    float: left;
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: black;
    padding: 10px 5px;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

nav li:hover {
    background-color: #6ABEA7;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline;
}

.footer-list li:after {
    content: " | ";
    padding: 0 .5em;
}

.footer-list li:last-child:after {
    content: "";
}

.fa {
    margin: .25em
}

.social {
    margin: auto;
}

.footer {
    margin: auto;
    text-align: center;
}

.fa-youtube-play {
    color: #cc181e;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

@media only screen and (max-width: 600px) {
    aside {
        width: 100%;
        margin-bottom: 5%;
    }

    h1 {
        font-size: 2em;
        height: 100px;
        line-height: 100px;
    }

    .flex {
        display: block;
    }

    #logo {
        height: 100px;
        width: 100px;
    }

    section {
        margin-left: 0;
    }

    .columna {
        width: 100%;
        float: none;
    }

    .titulo {
        height: 100px;
        line-height: 100px;
    }
}

@media only screen and (max-width: 412px) {
    h1 {
        font-size: 1.6em;
        margin-left: 30px;
        height: 90px;
        line-height: 90px;
    }

    #logo {
        height: 90px;
        width: 90px;
    }

    .titulo {
        margin-bottom: 2%;
        height: 90px;
        line-height: 90px;
    }
}

@media only screen and (max-width: 365px) {
    .footer-list li {
        font-size: small;
    }


}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 1.4em;
        margin-left: 30px;
        height: 80px;
        line-height: 80px;
    }

    #logo {
        height: 80px;
        width: 80px;
    }

    .titulo {
        margin-bottom: 2%;
        height: 80px;
        line-height: 80px;
    }

}