body {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', serif;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #ecffee;
    position: relative;
}

#acceptCookies {
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}

.inner {
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:30%;
}

.inner a.ok {
    padding:4px;
    color: #ffffff;;
    text-decoration:none;
}

.inner a.info {
    padding-left:5px;
    text-decoration:none;
    color: #ffffff;;
}

.titulo {
    display: inline-flex;
    margin-top: 5%;
}

#logo {
    height: 100px;
    width: 100px;
}

h1 {
    margin-left: 40px;
    margin-top: 30px;
}

.menu {
    height: 60px;
}

.user {
    float: left;
    width: 20%;
    display: flex;
}

#user-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user a {
    margin: 0;
    padding-left: 10px;
    line-height: 60px;
    text-decoration: none;
    color: black;
}

.user a:hover {
    font-weight: bold;
    color: #6ABEA7;
}

nav {
    float: right;
    width: 30%;
    margin-top: 10px; /*Esto permite centrar el menú en el div padre verticalmente*/
}

ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    float: left;
    width: 50%;
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
}

nav li:hover {
    background-color: #6ABEA7;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

.grid {
    width: 100%;
    max-width: 91%;
    margin: 40px auto auto;
}

.grid-row {
    display: flex;
    margin-bottom: 6%;
}

.grid-cell {
    width: 30%;
    float: right;
}

.grid img {
    width: 100%;
    height: auto;
}

img {
    display: table-row;
    height: 0;
}

.photo {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment {
    position: absolute;
    display: none;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

textarea {
    width: 78%;
    height: 100%;
    float: left;
    border-width: 0;
    font-size: medium;
    padding: 0 0 0 2%;
    font-family: 'Raleway', sans-serif;
}

.comment a {
    background-color: #6ABEA7;
    width: 20%;
    height: 100%;
    display: inline-block;
}

.comment a:hover {
    background-color: #177b7c;
}


.photo p {
    position: absolute;
    width: 94%;
    left: 0;
    bottom: 0;
    color: white;
    text-align: right;
    font-weight: bold;
    padding-left: 3%;
    display: none;
}

.content {
    background-color: #b9fdbc;
    text-align: center;
    overflow: auto;
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.comment-box {
    background-color: #9ce7d2;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: none;
}

.comment-box p {
    width: 100%;
    font-size: 0.8em;
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.pic-title {
    float: left;
    margin-left: 5%;
}

.footer {
    margin-bottom: 5%;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline;
}

.footer-list li:after {
    content: " | ";
    padding: 0 .5em;
}

.footer-list li:last-child:after {
    content: "";
}

.social {
    margin: auto;
}

.social-list {
    float: right;
    margin: 5%
}

.social-link {
    display: inline;
}

.fa {
    margin: .25em;
    cursor: pointer;
}

.fa-youtube-play {
    color: #cc181e;
}

.fa-facebook-official {
    color: #3b5998;
}

.fa-twitter {
    color: #00aced;
}

.fa-heart {
    color: grey;
}

.fa-comment {
    color: grey;
}

.fa-share-alt {
    color: grey;
}

.fa-paper-plane {
    color: white;
    padding-top: 25%;
}

@font-face {
    font-family: 'Raleway', sans-serif;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #6ABEA7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44234;
}

/* Center the image and position the close button */
.imgperfil {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
    display: inline;
    height: auto;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 50%;
    right: 0;
    width: 33%;
    height: 56%;
    margin: auto;
    /*overflow: auto; */
    /*background-color: rgb(0,0,0);*/
    /*background-color: rgba(0,0,0,0.4); no cubre toda la pantalla*/
    background-size: 1000px;
    padding-top: 60px;
}

/* Modal Content/Box */
.popup-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}