body {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', serif;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #ecffee;
}

.titulo {
    display: inline-flex;
    margin-top: 5%;
}

#logo {
    height: 100px;
    width: 100px;
}

h1 {
    margin-left: 40px;
    margin-top: 30px;
}

form {
    max-width: 700px;
    text-align: center;
    margin: auto;
}

.entrada {
    width: 100%;
    height: 25px;
    background-color: transparent;
    border: 1px solid #177b7c;
    text-indent: 5px;
    font-size: 0.9em;
    margin-bottom: 1%;
}

.entrada::-webkit-input-placeholder {
    color: #177b7c;
}

fieldset {
    margin-bottom: 5%;
    background-color: rgba(106, 190, 167, 0.51);
}

legend {
    padding-bottom: 20px;
}

small {
    font-size: 0.7em;
}

.flex {
    display: flex;
}

#profile-picture {
    margin-top: 3%;
}

#aficionado {
    display: none;
}

#submit {
    margin-top: 3%;
}

#intereses {
    font-size: 0.9em;
    margin-bottom: 3%;
}