body {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', serif;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #ecffee;
}

.titulo {
    display: inline-flex;
    margin-top: 5%;
}

#logo {
    height: 100px;
    width: 100px;
}

h1 {
    margin-left: 40px;
    margin-top: 30px;
}

form {
    max-width: 800px;
    text-align: center;
    margin: auto;
}