.draggable {
    width: 60%;
    margin: 21%;
    filter: contrast(0);
}

.droppable {
    width: 60%;
    margin: 21%;
}

.outline {
    height: 100%;
    width: 100%;
}

#orig {
    width: 25%;
}

#dest {
    width: 25%;
}

.droppedCat {
    content: url("../images/Cat-icon-solid.png");
}

.droppedGhost {
    content: url("../images/Ghost-icon-solid.png");
}

.droppedPumpkin {
    content: url("../images/Pumpkin-icon-solid.png");
}

.droppedSkeleton {
    content: url("../images/Skeleton-icon-solid.png");
}

#tray {
    width: 40%;
}

.column {
    background-color: rgba(81, 194, 192, 0.7);
    display: inline-block;
    text-align: center;
    height: 100%;
    margin-right: 0.25%;
    border: solid #44a39d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#tablero {
    width: 100%;
    display: table;
    height: 900px;
}

body {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', serif;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    position: relative;
    height: 100%;
}

html {
    background: url("../images/halloween-tombstones-illustration-vector-1vk4.jpg") no-repeat center center fixed;
    background-size: cover;
}

p {
    color: white;
    font-weight: bold;
}

.titulo {
    display: inline-flex;
    margin-top: 5%;
}

#logo {
    height: 100px;
    width: 100px;
}

h1 {
    margin-left: 40px;
    margin-top: 30px;
    color: white;
    font-weight: bold;
}

a {
    color: white;
}

nav {
    width: 100%;
    margin-top: 10px; /*Esto permite centrar el menú en el div padre verticalmente*/
}

ul {
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    list-style-type: none;
    float: left;
    width: 100%;
    text-align: center;
    background-color: #1f4142;
}

nav a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 5% 10px;
}

nav li:hover {
    background-color: #fdbd76;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

img {
    display: table-row;
    height: 0;
}

.footer {
    margin-bottom: 5%;
}

.footer-list {
    list-style: none;
}

.footer-list li {
    display: inline;
}

.footer-list li:after {
    content: " | ";
    padding: 0 .5em;
}

.footer-list li:last-child:after {
    content: "";
}

.footer ul {
    display: block;
}

@font-face {
    font-family: 'Raleway', sans-serif;
}