aside {
    float: left;
    display: inline;
    width: 200px;
}

h1 {
    height: 150px;
    line-height: 150px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 3em;
}

.flex {
    display: flex;
}

.cabecera {
    display: flex;
    height: 150px;
    line-height: 150px;
    margin-bottom: 30px;
    margin-top: 5%;
}

.subsbox{
    margin: 5%;
    width: 80%;
    display: inline-block;
}
label{
    float: left;
}

.subform{
    float: right;
}
#logo {
    height: 150px;
    width: 150px;
}

body {
    margin-right: auto;
    margin-left: auto;
    font-family: 'Raleway', serif;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #eeeeee;
}

section {
    margin-left: 5%;
    text-align: center;
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    display: inline-block;
}

.container img {
    width: 100%;
    height: auto;
}

.columna {
    width: 30%;
    float: left;
}

.columna a {
    text-decoration: none;
    color: black;
}

nav {
    background-color: #7CFFC4;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}

ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    list-style-type: none;
    text-align: center;
}

nav a {
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    color: black;
}

nav a:hover {
    color: white;
    font-weight: bold;
}

nav li:hover {
    background-color: #6ABEA7;
}